<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.yyzx.mapper.BedMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.neuedu.yyzx.pojo.Bed">
        <id column="id" property="id" />
        <result column="room_no" property="roomNo" />
        <result column="bed_status" property="bedStatus" />
        <result column="remarks" property="remarks" />
        <result column="bed_no" property="bedNo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, room_no, bed_status, remarks, bed_no
    </sql>

    <select id="selectBedCount" resultType="CwsyBedVo">
        SELECT
        ( SELECT count( 1 ) FROM bed ) zcw,
        ( SELECT count( 1 ) FROM bed WHERE bed_status = 1 ) kx,
        ( SELECT count( 1 ) FROM bed WHERE bed_status = 2 ) yr,
        ( SELECT count( 1 ) FROM bed WHERE bed_status = 3 ) wc
    </select>

</mapper>
