<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.yyzx.mapper.NursingLevelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.neuedu.yyzx.pojo.NursingLevel">
        <!-- 主键 -->
        <id     column="id"            property="id"/>

        <!-- 护理级别名称 -->
        <result column="level_name"    property="levelName"/>

        <!-- 级别状态（1：启用；2：停用） -->
        <result column="level_status"  property="levelStatus"/>

        <!-- 逻辑删除标记（0：显示；1：隐藏） -->
        <result column="is_deleted"    property="isDeleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
    level_name,
    level_status,
    is_deleted
          </sql>

<!--    <select id="selectVo" resultType="com.neuedu.yyzx.vo.KhxxNursingLevelVo">-->
<!--        select-->
<!--            customer_name,-->
<!--            customer_age,-->
<!--            customer_sex,-->
<!--            room_no,-->
<!--            bed_id-->
<!--        from-->
<!--             customer-->
<!--        <where>-->
<!--            <if test="customerDTO.userId != null and customerDTO.userId != ''">-->
<!--                user_id = #{customerDTO.userId}-->
<!--            </if>-->
<!--        </where>-->
<!--    </select>-->

</mapper>
